.elements {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.element {
  width: 282px;
  height: 361px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #ffffff;
}

.element__item {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.element__photo-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  height: 20%;
  margin: 0;
  border-radius: 0 0 10px 10px;
}

.element__caption {
  width: 200px;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__like {
  width: 20.76px;
  height: 18.13px;
  background-color: transparent;
  border: none;
  background-image: url("../images/Vector_corazon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.element__like-active {
  background-image: url("../images/Vector_corazon_negro.png");
}

.element__like:hover {
  opacity: 50%;
}

.element__like-number {
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 29.05px;
}

.element__trash-button {
  background-image: url(../images/vector_trash.svg);
  background-color: transparent;
  border: none;
  width: 18px;
  height: 19.3px;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
}

.element__trash-button:hover {
  opacity: 60%;
}
